.container{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
}
label{
    margin: 10px 0px 0px 0px;
}
button{
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    height: 20px;
}
button:hover{
    background-color: yellowgreen;
}